
body {
    margin: 0;
    background-image: url(assets/40kbackgroundmain.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
}

header {
    background-image: url(assets/40kheader.jpg);
    padding-top: 1%;
}

header h1 {
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 0.4em;
    border-bottom: 0.1em solid gray;
    font-size: 2.5em;
    color: whitesmoke;
}

main {
    margin: 0 2% 0 2%;
}

main h2 {
    font-size: 2em;
}

.faction_selection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5em;
}

.TexteSousFaction {
    padding-top: 1em;
    padding-bottom: 1em;
}

.TexteSousFaction h2 {
    text-align: center;
    font-size: 2.5em;
}

.TexteSousFaction h3 {
    text-align: center;
    font-size: 2em;
}

.TexteSousFaction p {
    text-align: justify;
}

.selectUnités h3 {
    text-align: center;
    font-size: 1.5em;
}

.selectUnités select {
    width: 100%;
    background-color: #BFC4C7;
}

.selectUnités option {
    background-color: #d6dadd;
}

.divBoutonUnite {
    text-align: right;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.seigneur_guerre {
    margin-top: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 99%;
}

.choixEquipement h3 {
    border-bottom: 2px solid gray;
    font-size: 1.5em;
}

.optionEquip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.divOptionEquip {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.choixEquipement p {
    color: red;
    text-align: center;
}

.traitSeigneur h3 {
    border-bottom: 2px solid gray;
    font-size: 1.5em;
}

.traitSeigneur p {
    color: red;
    text-align: center;
}

.boutonRadioTrait {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ReliqueSeigneur h3 {
    border-bottom: 2px solid gray;
    font-size: 1.5em;
}

.boutonRadioRelique {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divAjoutUnité {
    padding-bottom: 1em;
    border-bottom: 2px solid green;
}

.affichageListe h3 {
    font-size: 1.5em;
}

.listeUnitAffichage select {
    width: 100%;
    background-color: #BFC4C7;
}

.listeUnitAffichage h3 {
    text-align: center;
}

.creationListecss {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-bottom: 1em;
}

.creationListecss div {
    display: flex;
    gap: 2em;
}

footer {
    color: white;
    text-align: center;
    background-image: url(assets/40kheader.jpg);
    border-top: 0.2em solid gray;
    padding-bottom: 1%;
}

#btn_ajouterListe {
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    background-color: #00ad3a;
    border-top: 0.2em solid #007928;
    border-left: 0.2em solid #007928;
    border-right: 0.2em solid #11c04b;
    border-bottom: 0.2em solid #11c04b;
    border-radius: 5px;
    font-size: 1.4em;
}

#btn_ajouterListe:hover {
    background-color: #1aff66;
    border-radius: 5px;
}

#btn_ajouterListe:active {
    border-top: 0.2em solid #11c04b;
    border-left: 0.2em solid #11c04b;
    border-right: 0.2em solid #007928;
    border-bottom: 0.2em solid #007928;
    border-radius: 5px;
}

#btn_annulerListe {
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    background-color: #660000;
    border-top: 0.2em solid #330000;
    border-left: 0.2em solid #330000;
    border-right: 0.2em solid #990000;
    border-bottom: 0.2em solid #990000;
    border-radius: 5px;
    font-size: 1.4em;
}

#btn_annulerListe:hover {
    background-color: #cc0000;
    border-radius: 5px;
}

#btn_annulerListe:active {
    border-top: 0.2em solid #990000;
    border-left: 0.2em solid #990000;
    border-right: 0.2em solid #330000;
    border-bottom: 0.2em solid #330000;
    border-radius: 5px;
}

#btn_creationListe {
    background-color: #00ad3a;
    border-top: 0.2em solid #007928;
    border-left: 0.2em solid #007928;
    border-right: 0.2em solid #11c04b;
    border-bottom: 0.2em solid #11c04b;
    border-radius: 5px;
    font-size: 1em;
}

#btn_creationListe:hover {
    background-color: #1aff66;
    border-radius: 5px;
}

#btn_creationListe:active {
    border-top: 0.2em solid #11c04b;
    border-left: 0.2em solid #11c04b;
    border-right: 0.2em solid #007928;
    border-bottom: 0.2em solid #007928;
    border-radius: 5px;
}

#btn_suppressionListe {
    background-color: #660000;
    border-top: 0.2em solid #330000;
    border-left: 0.2em solid #330000;
    border-right: 0.2em solid #990000;
    border-bottom: 0.2em solid #990000;
    border-radius: 5px;
    font-size: 1em;
}

#btn_suppressionListe:hover {
    background-color: #cc0000;
    border-radius: 5px;
}

#btn_suppressionListe:active {
    border-top: 0.2em solid #990000;
    border-left: 0.2em solid #990000;
    border-right: 0.2em solid #330000;
    border-bottom: 0.2em solid #330000;
    border-radius: 5px;
}

#div_bouton_unite input[type=button] {
    background-color: #0066ff;
    border-top: 0.2em solid #003380;
    border-left: 0.2em solid #003380;
    border-right: 0.2em solid #1a75ff;
    border-bottom: 0.2em solid #1a75ff;
    border-radius: 5px;
    font-size: 1em;
}

#div_bouton_unite input[type=button]:hover {
    background-color: #66a3ff;
    border-radius: 5px;
}

#div_bouton_unite input[type=button]:active {
    border-top: 0.2em solid #1a75ff;
    border-left: 0.2em solid #1a75ff;
    border-right: 0.2em solid #003380;
    border-bottom: 0.2em solid #003380;
    border-radius: 5px;
}

.seigneur_guerre {
    text-align: right;
}